{% load account %}{% load i18n %}{% autoescape off %}
<div>
        <center>
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="m_-5291756728130309467bodyTable">
                <tbody><tr>
                    <td align="center" valign="top" id="m_-5291756728130309467bodyCell">
                        <span style="color:#ffffff;display:none;font-size:0px;height:0px;width:0px">Buenas noticias {{email}}! Hay un nuevo premio disponible para vos</span>

                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody><tr>
                                <td align="center" bgcolor="#5B008A" valign="top" id="m_-5291756728130309467templateHeader" style="background-color:#5B008A;padding-right:30px;padding-left:30px">

                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:400px" class="m_-5291756728130309467emailContainer">
                                        <tbody><tr>
                                            <td align="center" valign="top" id="m_-5291756728130309467logoContainer" style="padding-top:40px;padding-bottom:20px">
                                                <img alt="MyPoints" src="cid:logo.png" height="63" width="60" style="color:#ffffff;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;font-weight:400;letter-spacing:-1px;padding:0;margin:0;text-align:center">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="top" style="padding-bottom:10px">
                                                <h1 style="color:#ffffff;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:30px;font-style:normal;font-weight:600;line-height:42px;letter-spacing:normal;margin:0;padding:0;text-align:center">Canje de premio en {{company}}</h1>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="top" style="padding-bottom:40px">
                                                <p style="color:#ffffff;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:24px;padding:0;margin:0;text-align:center"> El premio {{reward}} necesita {{points}} puntos para su canje. Accede al sitio y realizalo.
                                                    {{company}} y Mis puntos agradecen tu participación.</p>
                                            </td>
                                        </tr>
                                    </tbody></table>

                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" id="m_-5291756728130309467templateFooter" style="padding-right:30px;padding-left:30px">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:640px" class="m_-5291756728130309467emailContainer">
                                        <tbody>
                                        <tr>
                                            <td valign="top" id="m_-4722775725788750724footerContent" style="border-top:2px solid #f2f2f2;color:#484848;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;font-weight:400;line-height:24px;padding-top:40px;padding-bottom:20px;text-align:center">
                                                <p style="color:#484848;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;font-weight:400;line-height:24px;padding:0;margin:0;text-align:center">© 2001-2017 MyPoints<sup>®</sup>, All Rights Reserved.<br>Mar del Plata, Argentina. Tierra de los mejores Alfajores</p>
                                                <a href="http://www.mypoints.com.ar" style="color:#373737;text-decoration:underline" class="m_-4722775725788750724utilityLink" target="_blank" >Terms of Use</a><span class="m_-4722775725788750724mobileHide"> &nbsp; • &nbsp; </span><a href="">Privacy Policy</a>
                                            </td>
                                        </tr>
                                    </tbody></table>

                                </td>
                            </tr>
                        </tbody></table>

                    </td>
                </tr>
            </tbody></table>
        </center>
    </div>
{% endautoescape %}